.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  margin-bottom: 1.6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
}

.banner__contents {
  margin-left: 1.3rem;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1rem;
  height: 80px;
}

.banner__button {
  cursor: pointer !important;
  color: #fff !important;
  outline: none !important;
  border: none !important;
  font-weight: 700 !important;
  border-radius: 0.2vw !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  margin-right: 1rem !important;
  padding-top: 0.5rem !important;
  background-color: rgba(51, 51, 51, 0.5) !important;
  padding-bottom: 0.5rem !important;
}

.banner__button:hover {
  color: #000 !important;
  background-color: #e6e6e6 !important;
  transition: all 0.2s !important;
}

.banner--fadeBottom {
  height: 15rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
