.nav {
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: black;
  transition-timing-function: ease-in;
  transition: background-color 500ms;
}

.nav__transparent {
  background-color: transparent;
}

.nav__logo {
  margin-left: 1.3rem;
  width: 95px;
  object-fit: contain;
}

.nav__avatar {
  width: 35px;
  margin-right: 1.3rem;
}

.nav__button {
  cursor: pointer !important;
  color: #fff !important;
  outline: none !important;
  border: none !important;
  font-weight: 700 !important;
  border-radius: 0.2vw !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-right: 1rem !important;
  background-color: transparent;
}

.nav__profileMenu {
  display: flex;
  align-items: center;
  justify-self: center;
}

.nav__utilityMenu {
  margin-right: 3rem;
  float: right;
  align-items: center;
  justify-self: center;
}

.nav__spacer {
  margin-left: auto;
  margin-right: auto;
}

.nav__links {
  margin-left: 2rem;
  align-items: center;
  justify-self: center;
}
